html{
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100%;
  margin: 0 auto -50px;
}

body
{
  display: flex;
  flex-direction: column;
  background-color: #0a192f;
}



.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
